@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import '@smastrom/react-rating/style.css';

*{
    font-family: 'Bree Serif', serif;
}
.primary-color, .primary-color:hover{
    color: #d35400;
}
.secondary-color{
    color: #232323;
}
.secondary-color-hover:hover{
    color: #d35400;
}

.custom-btn{
   background-color: #d35400;
   font-size: 20px;
   border: 0;
}
.custom-btn:hover{
    background-color: #232323;
}

.banner{
    background: linear-gradient( rgba(0, 0, 0, 0.605), rgba(0, 0, 0, 0.645)), url('/public/images/chefbanner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    
}

.error-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.605), rgba(0, 0, 0, 0.645)), url('/public/images/404.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.footer-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/public/images/chefbanner3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    color: white;
    padding: 10px;
}